body {
  background-color: #444444;
  color: white;
  border: 5px solid #777777;
  margin: 20px;
  padding: 30px;
}

img {
  float: right;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
  margin: 30px;
}

a {
  color: #66CD9B;
}