.transform-translate {
	transform: translate(100px, 50px);
}

.transform-rotate {
	transform: rotate(20deg);
}

.transform-scale-grow {
	transform: scale(2, 3);
}

.transform-scale-shrink {
	transform: scale(0.5, 0.5);
}

@keyframe boom_boom {
	0% {
		transform: scale(1, 1);
	}
	
	50% {
		transform: scale(2, 2);
	}

	100% {
		transform: scale(1, 1);
	}
}

.box_1 {
	animation: boom_boom 2s;
}