.shake {
	animation-name: shake;
	animation-duration: 0.25s;
	animation-iteration-count: 5;
}

@keyframes shake {
	0% {
		left: 0px;
	}

	25% {
		left: 5px;
	}

	50% {
		left: -5px;
	}

	100% {
		left: 0px;
	}
}
